@(webJarAssets: WebJarAssets)
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Cuestionario</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    </head>
    <body>

        <div class="row">
            <div class="card card-inverse card-success mb-3 text-center">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <h2>Primera pregunta</h2>
                        <p>¿En qué medida las consecuencias de la Diabetes afecta mi vida?</p>
                        <form>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">0
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">5
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">6
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">7
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">8
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">9
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">10
                            </label>
                        </form>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="card card-inverse card-warning mb-3 text-center">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <h2>Segunda pregunta</h2>
                    <p>¿Cuánto tiempo cree que duran las consecuencias de la Diabetes?</p>
                    <form>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">0
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">6
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">7
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">8
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">9
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">10
                        </label>
                    </form>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>

        <div class="card card-inverse card-danger text-center">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <h2>Tercera pregunta</h2>
                    <p>¿Qué grado de control tiene sobre las posibles consecuencias que producen las subidas y bajadas de la glucemia (azúcar en sangre)?</p>
                    <form>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">0
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">3
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">4
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">5
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">6
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">7
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">8
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">9
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio">10
                        </label>
                    </form>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>
    </body>
</html>