@(webJarAssets: WebJarAssets)
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Cuestionario</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-9" role="main">
                    <div class="bs-docs-section">
                            <!-- Primera pregunta -->
                        <div class="bg-success text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>1 - ¿En qué medida las consecuencias de la Diabetes afecta mi vida?</p>
                                    <form>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">0
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">5
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">6
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">7
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">8
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">9
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">10
                                        </label>
                                    </form>
                                </blockquote>
                            </div>
                        </div>

                            <!-- Segunda pregunta -->
                        <div class="bg-warning text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>2 - ¿Cuánto tiempo cree que duran las consecuencias de la Diabetes?</p>
                                    <form>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">0
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">5
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">6
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">7
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">8
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">9
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">10
                                        </label>
                                    </form>
                                </blockquote>
                            </div>
                        </div>

                            <!-- Tercera pregunta -->
                        <div class="bg-primary text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>3 - ¿Qué grado de control tiene sobre las posibles consecuencias que producen las subidas y bajadas de la glucemia (azúcar en sangre)?</p>
                                    <form>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">0
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">5
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">6
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">7
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">8
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">9
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">10
                                        </label>
                                    </form>
                                </blockquote>
                            </div>
                        </div>

                            <!-- Cuarta pregunta -->
                        <div class="bg-info text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>4 - ¿Cree que la dieta, ejercicio físico, tratamiento con pastillas o pinchado son útiles para controlar la diabetes?</p>
                                    <form>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">0
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">5
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">6
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">7
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">8
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">9
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">10
                                        </label>
                                    </form>
                                </blockquote>
                            </div>
                        </div>

                            <!-- Quinta pregunta -->
                        <div class="bg-danger text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>5 - ¿Nota molestias o síntomas relacionados directamente con la Diabetes?</p>
                                    <form>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">0
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">5
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">6
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">7
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">8
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">9
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">10
                                        </label>
                                    </form>
                                </blockquote>
                            </div>
                        </div>

                            <!-- Sexta pregunta -->
                        <div class="bg-success card-danger text-center">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <p>6 - ¿Hasta qué punto comprende y conoce la Diabetes y sus consecuencias a largo plazo?</p>
                                    <form>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">0
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">1
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">2
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">3
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">4
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">5
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">6
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">7
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">8
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">9
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optradio">10
                                        </label>
                                    </form>
                                </blockquote>
                            </div>
                        </div>

                            <!-- Septima pregunta -->
                        <div class="bg-warning card-danger text-center">
                                <div class="card-block">
                                    <blockquote class="card-blockquote">
                                        <p>7 - ¿Tener Diabetes me afecta emocionalmente? Me preocupa</p>
                                        <form>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">0
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">1
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">2
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">3
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">4
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">5
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">6
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">7
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">8
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">9
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optradio">10
                                            </label>
                                        </form>
                                    </blockquote>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>