@(webJarAssets: WebJarAssets, paciente: org.nosoconociometro.models.Patient)

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Cuestionario</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Rammetto+One">
    </head>

    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <p class="navbar-text" style="font-family: 'Rammetto One', cursive; text-align: right; margin-right: 20px">NOSOCONOCIOMETRO</p>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-9" role="main">
                    <div class="bs-docs-section">
                        <form id="questions" action="/survey/@paciente.id" method="post">
                            <fieldset>
                                @question(1, "1 - ¿En qué medida las consecuencias de la Diabetes afecta mi vida?", "0 no me afecta y 10 me afecta mucho")
                                @question(2, "2 - ¿Cuánto tiempo cree que duran las consecuencias de la Diabetes?", "0 temporalmente y 10 dura para siempre")
                                @question(3, "3 - ¿Qué grado de control tiene sobre las posibles consecuencias que producen las subidas y bajadas de la glucemia (azúcar en sangre)?", "0 sería un control escaso y 10 máximo control")
                                @question(4, "4 - ¿Cree que la dieta, ejercicio físico, tratamiento con pastillas o pinchado son útiles para controlar la diabetes?", "0 no cree que sea útil y 10 si cree que es útil")
                                @question(5, "5 - ¿Nota molestias o síntomas relacionados directamente con la Diabetes?", "0 ningún síntoma en la actualidad y 10 todos los días tengo síntomas (por complicaciones o no)")
                                @question(6, "6 - ¿Hasta qué punto comprende y conoce la Diabetes y sus consecuencias a largo plazo?", "0 la conozco muy poco o nada y 10 la conozco bien")
                                @question(7, "7 - ¿Tener Diabetes me afecta emocionalmente? Me preocupa", "0 no me afecta nada y 10 me afecta mucho")
                            </fieldset>

                            <input type="submit" class="btn btn-primary btn-lg" style="margin-left: 100px;" role="button" value="Enviar">
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="bg-warning text-left">
                            <div class="card-block">
                                <blockquote class="card-blockquote">
                                    <h4>Datos del paciente</h4>
                                    <div class="col">
                                        <h5>Nombre: @paciente.name</h5>
                                        <h5>Apellidos: @paciente.apellidos</h5>
                                        <h5>DNI/NIF: @paciente.nif</h5>
                                    </div>
                                    <div class="col">
                                        <h5>Nº S.S: @paciente.ss</h5>
                                        <h5>Edad: @paciente.edad</h5>
                                        <h5>Sexo: @paciente.sexo</h5>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>