@(qid: Int, qtext: String, qdesc: String)
<div class="bg-info text-center">
    <div class="card-block">
        <blockquote class="card-blockquote">
            <p>@qtext</p>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" id="p@qid-0" value=0 name="@qid">0
                </label>
                <label class="radio-inline">
                    <input type="radio" id="p@qid-1" value=1 name="@qid">1
                </label>
                <label class="radio-inline">
                    <input type="radio" id="p@qid-2" value=2 name="@qid">2
                </label>
                <label class="radio-inline">
                    <input type="radio" id="p@qid-3" value=3 name="@qid">3
                </label>
                <label class="radio-inline">
                    <input type="radio" id="p@qid-4" value=4 name="@qid">4
                </label>
                <label class="radio-inline">
                    <input type="radio" id="p@qid-5" value=5 name="@qid">5
                </label>
                <label class="radio-inline">
                    <input type="radio" id="p@qid-6" value=6 name="@qid">6
                </label>
                <label class="radio-inline">
                    <input type="radio" id="p@qid-7" value=7 name="@qid">7
                </label>
                <label class="radio-inline">
                    <input type="radio" id="p@qid-8" value=8 name="@qid">8
                </label>
                <label class="radio-inline">
                    <input type="radio" id="p@qid-9" value=9 name="@qid">9
                </label>
                <label class="radio-inline">
                    <input type="radio" id="p@qid-10" value=10 name="@qid">10
                </label>
            </div>
            <h6>@qdesc</h6>
        </blockquote>
    </div>
</div>